footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgb(0, 0, 124);
}

footer .copyright {
  order: 1;
}
footer .footer__socials {
  order: 2;
}

footer .footer_fill {
  order: 3;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  left: 0;
  bottom: 3rem;
}

.footer__socials::after {

  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}
.copyright {
  width: 20%;
}
.footer__socials{
  width: 60%;
}
.footer_fill {
  width: 20%;
}

/* ----------------------- Media queries (medium devices) -------------------*/

@media screen and (max-width: 1024px) { 

}

/* ----------------------- Media queries (small devices) -------------------*/

@media screen and (max-width: 600px) {
    .contact {
      font-size: 12px;
    }
    .copyright {
      width: 20%;
      font-size: 12px;
    }
    .footer__socials{
      width: 60%;
    }
    .footer_fill {
      width: 20%;
    }
}